.About-Me {
    padding-bottom: 20vw;
    clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 10vw), 0% 100%);
    margin-bottom: -10vw;
    padding-left:0;
    padding-right:0;
    padding-top:0;


}

.Intro {
    height:100vh;
    margin:0;
    margin-bottom: 1rem;
    padding: 3rem;
    background-image: url("../img/Blurred.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position:relative;
    font-size: 2rem;
    &-di {
        position: absolute;
        bottom:20vh;
    }
    z-index: 1;
    p {
        color: $color-grey;
        z-index: 99;
        
    }
    h1 {
        color: $color-darkOrange;
        padding: 0;
        z-index: 109;
    }
}

.desc {
    background-color: $color-darkgrey;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    gap: 5rem;
    padding: 2rem;
    //height:100vh;

    &-card{
        
        h2 {
            text-align: left;
            
        }
    }
}

