.Experience {
    padding-top: 25vw;
    padding-bottom: 30rem;
    padding-left: 0;
    padding-right: 0;
}

.Card-Container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    li {
        list-style-type: none;
    }
}

.Experience-Card {
    
    &:first-child{
        margin-left: 25vw;
    }
    &:last-child {
        margin-right: 25vw;
    }
    &:not(:last-child) {
        margin-right: 1rem;
    }
    padding: 1rem;
    scroll-snap-align: center;
    text-align: center;
    display: block;
    flex: none;
    width: 18.125rem;
    height: 28.125rem;
    background-color: $color-orange;
    color: $color-darkgrey;
    border-radius: 2rem;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.466);
}