header {
    background-color: $color-orange;
    padding: 0;
    position: sticky;
    top:0;
    z-index:10;
    display:flex;
    &.open {
        box-shadow: 0 0 5px black;
    }
    
    
}

.Header-Name {

    a, a:visited{
        text-decoration: none;
        font-size: .70rem;

    }
    padding:.3rem;

}

h1 {
    color: $color-darkgrey;
    text-align: left;
    padding: .24rem;
}

.Navigation-Toggle {
    background-color: $color-orange;
    border: 0;
    padding: 0;
    height: 26.666px;
    margin: auto .60rem auto auto;
}

.hamburger,
.hamburger::before, 
.hamburger::after {
    display: block;
    background-color: $color-darkgrey;
    width: 2em;
    height: 4px;
    border-radius: 1rem;    
    transition: all 300ms ease-in-out;
}


.hamburger {
    position: relative;
    &.open {
        background-color: $color-orange;
        &::before {
            opacity: 1;
            transform: translate(0, 7px) rotate(0.875turn);
        }
        &::after {
            opacity: 1;
            transform: translate(0, -7px) rotate(-0.875turn);
        }

    }

}

.hamburger::before {
    content: '';
    position: absolute;
    bottom: 7px;
    
}

.hamburger::after {
    content: '';
    position: absolute;
    top: 7px;
}

.Navi {
    transition: all 300ms ease-in-out;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    top: calc(100% + 1rem);
    position: absolute;
    font-size: 1.25rem;
    transform: translateY(-.5rem);
    
    &.open {
        visibility: visible;
        transform: translateY(0%);
        opacity: 1;
    }
    &-Lists{
        margin-top: .5rem;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        background-color: $color-orange;
        border-radius: .25rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        list-style-type: none;
        text-align: center;
        box-shadow: 0 3px 5px black;
        &-Ref {
            font-size: 2rem;
            font-weight:600;
            a,
            a:visited {
                position: relative;
                padding-top: .5rem;
                padding-bottom: .5rem;
                display: block;
                width: 100%;
                color: $color-darkgrey;
                text-decoration: none;
            }
        }
    }
}
/*
.Navi-List {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: .1rem 0 0 0;
    
    
}
.Navi-Lists-Ref:hover a:visited,
.Navi-Lists-Ref:hover a {
    font-size: 1.5rem;
    border-top-left-radius: .2rem;
    border-top-right-radius: .2em;
    color: $color-lightgrey;
    background-color: $color-darkgrey;
    
}

.Navi-Lists-Ref a,
.Navi-Lists-Ref a:visited {
    text-decoration: none;
    color: $color-darkgrey;
    padding: .25em .5em .25em .5em;
    //margin: .25rem;
}
*/

