header {
    background-color: $color-orange;
    padding: .25rem;
}

h1{
    color: $color-darkgrey;
    text-align: center;
}
.Navi-List {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: .1rem 0 .1rem 0;

    
}

.Navi a,
.Navi a:visited{
    text-decoration: none;
    color: $color-darkgrey;
    padding: .25em .5em .25em .5em;
    margin: .25rem;
}


