header {
    background-color: $color-orange;
    padding: 0;
    position: sticky;
    top:0;
    z-index:999;
}

h1{
    color: $color-darkgrey;
    text-align: center;
}
.Navi-List {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: .1rem 0 0 0;
    
    
}
.Navi-Lists-Ref:hover a:visited,
.Navi-Lists-Ref:hover a {
    font-size: 1.5rem;
    border-top-left-radius: .2rem;
    border-top-right-radius: .2em;
    color: $color-lightgrey;
    background-color: $color-darkgrey;
    
}

.Navi-Lists-Ref a,
.Navi-Lists-Ref a:visited {
    text-decoration: none;
    color: $color-darkgrey;
    padding: .25em .5em .25em .5em;
    //margin: .25rem;
}


