$color-black: #151518;
//#d36f2d
$color-orange: #d36f2d;
$color-lightgrey:#27282e;
$color-grey: #dbbabd;
//hsl(150, 2%, 20%)
$color-darkgrey: hsl(150, 2%, 20%);
$color-darkOrange: #b15d29;
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Andada+Pro&family=Patua+One&display=swap');
