$color-black: #151518;
$color-darkgrey: #db7632;
$color-lightgrey:#27282e;
$color-grey: #726667;
$color-orange: hsl(150, 2%, 20%);
$color-darkOrange: #c57f54;
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Andada+Pro&family=Patua+One&display=swap');