@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Andada+Pro&family=Patua+One&display=swap");
header {
  background-color: #323433;
  padding: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header.open {
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

.Header-Name {
  padding: .3rem;
}

.Header-Name a, .Header-Name a:visited {
  text-decoration: none;
  font-size: .70rem;
}

h1 {
  color: #db7632;
  text-align: left;
  padding: .24rem;
}

.Navigation-Toggle {
  background-color: #323433;
  border: 0;
  padding: 0;
  height: 26.666px;
  margin: auto .60rem auto auto;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  background-color: #db7632;
  width: 2em;
  height: 4px;
  border-radius: 1rem;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.hamburger {
  position: relative;
}

.hamburger.open {
  background-color: #323433;
}

.hamburger.open::before {
  opacity: 1;
  -webkit-transform: translate(0, 7px) rotate(0.875turn);
          transform: translate(0, 7px) rotate(0.875turn);
}

.hamburger.open::after {
  opacity: 1;
  -webkit-transform: translate(0, -7px) rotate(-0.875turn);
          transform: translate(0, -7px) rotate(-0.875turn);
}

.hamburger::before {
  content: '';
  position: absolute;
  bottom: 7px;
}

.hamburger::after {
  content: '';
  position: absolute;
  top: 7px;
}

.Navi {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  top: calc(100% + 1rem);
  position: absolute;
  font-size: 1.25rem;
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.Navi.open {
  visibility: visible;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.Navi-Lists {
  margin-top: .5rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: #323433;
  border-radius: .25rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  list-style-type: none;
  text-align: center;
  -webkit-box-shadow: 0 3px 5px black;
          box-shadow: 0 3px 5px black;
}

.Navi-Lists-Ref {
  font-size: 2rem;
  font-weight: 600;
}

.Navi-Lists-Ref a,
.Navi-Lists-Ref a:visited {
  position: relative;
  padding-top: .5rem;
  padding-bottom: .5rem;
  display: block;
  width: 100%;
  color: #db7632;
  text-decoration: none;
}

/*
.Navi-List {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: .1rem 0 0 0;
    
    
}
.Navi-Lists-Ref:hover a:visited,
.Navi-Lists-Ref:hover a {
    font-size: 1.5rem;
    border-top-left-radius: .2rem;
    border-top-right-radius: .2em;
    color: $color-lightgrey;
    background-color: $color-darkgrey;
    
}

.Navi-Lists-Ref a,
.Navi-Lists-Ref a:visited {
    text-decoration: none;
    color: $color-darkgrey;
    padding: .25em .5em .25em .5em;
    //margin: .25rem;
}
*/
.About-Me {
  padding-bottom: 20vw;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 10vw), 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 10vw), 0% 100%);
  margin-bottom: -10vw;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.Intro {
  height: 100vh;
  margin: 0;
  padding: 3rem;
  background-image: url("../img/Blurred.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}

.Intro-di {
  position: absolute;
  bottom: 20vh;
}

.Intro p {
  color: #dbbabd;
  z-index: 99;
}

.Intro h1 {
  color: #b15d29;
  padding: 0;
  z-index: 109;
}

.desc {
  background-color: #db7632;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  height: 100vh;
}

.Skills {
  background-color: #323433;
  color: #db7632;
  -webkit-clip-path: polygon(0 10vw, 100% 0%, 100% calc(100% - 10vw), 0% 100%);
          clip-path: polygon(0 10vw, 100% 0%, 100% calc(100% - 10vw), 0% 100%);
  margin-bottom: -10vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Skills-Box {
  width: 88%;
}

.Skills-List {
  list-style: none;
  margin: auto;
  text-transform: uppercase;
}

.Skills-List li {
  margin-top: .2rem;
}

.Skills-Progress-Bar-One {
  border-radius: 1rem;
  background-color: #db7632;
  height: 1rem;
  width: 100%;
}

.Skills-Progress-Bar-Two {
  border-radius: 1rem;
  background-color: #db7632;
  height: 1rem;
  width: 83%;
}

.Skills-Progress-Bar-Three {
  border-radius: 1rem;
  background-color: #db7632;
  height: 1rem;
  width: 67%;
}

.Skills-Progress-Bar-Four {
  border-radius: 1rem;
  background-color: #db7632;
  height: 1rem;
  width: 65%;
}

.Skills-Progress-Bar-Five {
  border-radius: 1rem;
  background-color: #db7632;
  height: 1rem;
  width: 50%;
}

.Experience {
  padding-top: 25vw;
  padding-bottom: 30rem;
  padding-left: 0;
  padding-right: 0;
}

.Card-Container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scrollbar-color: #323433 #db7632;
}

.Card-Container li {
  list-style-type: none;
}

.Experience-Card {
  padding: 1rem;
  scroll-snap-align: center;
  text-align: center;
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 18.125rem;
  height: 28.125rem;
  background-color: #323433;
  color: #db7632;
  border-radius: 2rem;
  -webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.466);
          box-shadow: 0 3px 2px rgba(0, 0, 0, 0.466);
}

.Experience-Card:first-child {
  margin-left: 25vw;
}

.Experience-Card:last-child {
  margin-right: 25vw;
}

.Experience-Card:not(:last-child) {
  margin-right: 1rem;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Patua One', cursive;
}

html {
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  background-color: #dbbabd;
  height: 100vh;
}

section {
  margin: auto;
  padding: 1rem;
  background-color: #db7632;
  color: #27282e;
  font-size: 1.8rem;
}

section h2 {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */