@import "./variables";
@import "./header";
@import "./About-me";
@import "./Skills";
@import "./Experience";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Patua One', cursive;
}

html {
    scroll-behavior: smooth;
    height: 100vh;

}

body {
    background-color: $color-grey;
    height: 100vh;
}

section {
    margin: auto;
    //max-width: 900px;
    padding:1rem;
    background-color: $color-orange;
    color: $color-lightgrey;
    font-size: 1.5rem;
    h2 {
        text-align: center;
    }
}

@media (min-width:900px){
    .desc {
        height: 100vh;
        
        h1 {
            margin-top: auto;
            width: 100%;
            margin-bottom: -8vh;
        }
        &-card{
            flex: 1;
            h2 {
                text-align: left;
                
            }
        }
    }
    .Skills-Box{
        width: 67%;
    }
    .Experience {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: auto;
        //padding-top: 10vw;
    }
    .Card-Container {
        width: 67%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        row-gap: 1rem;
    }
    .Experience-Card {
        width: 100%;

    }
}
@media (min-width:1500px) {
    
    .Card-Container {

        grid-template-columns: 1fr 1fr 1fr;

    }

}

