@import "./variables";
@import "./header";
@import "./About-me";
@import "./Skills";
@import "./Experience";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Patua One', cursive;
}

html {
    scroll-behavior: smooth;
    height: 100vh;

}

body {
    background-color: $color-grey;
    height: 100vh;

    
}

section {
    margin: auto;
    //max-width: 900px;
    padding:1rem;
    background-color: $color-darkgrey;
    color: $color-lightgrey;
    font-size: 1.8rem;
    h2 {
        text-align: center;
    }
}



